<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>770238180985-i3vvfpb1o1t1hq2p4qua4l3rq53jbp0p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.770238180985-i3vvfpb1o1t1hq2p4qua4l3rq53jbp0p</string>
	<key>API_KEY</key>
	<string>AIzaSyAL_ALrQZz8du-jRJ_VGREp-j55pHsr804</string>
	<key>GCM_SENDER_ID</key>
	<string>770238180985</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.weatherFlutter</string>
	<key>PROJECT_ID</key>
	<string>weather-flutter-34eeb</string>
	<key>STORAGE_BUCKET</key>
	<string>weather-flutter-34eeb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:770238180985:ios:697ee315752dbddc106ea8</string>
</dict>
</plist>